
h2 {
	font-family: 'Bebas Neue', 'Helvetica', sans-serif;
	font-size: 60px;
	letter-spacing: 2px;
	color: white;
}

.main-container {
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
}

.hidden {
	display: none;
}

.main-header {
	width: 980px;
	height: 150px;
	background-color: #53a586;
	display: inline-block;
	text-align: center;
}

.main-footer {
	margin-top: 40px;
	width: 980px;
	height: 170px;
	background-color: #53a586;
	display: inline-block;
}

body {
	color: #444;
	font-size: 14px;
	padding: 14px;
	/*** an em is a relative mesaurment set by the font size of the body. in this case, 1 em = 14px ***/
}

main span {
	padding: 10px 14px;
	cursor: pointer;
}


/*** * for select all ***/
.img-wrapper > * {
	pointer-events: none;

}

.selected {
	opacity: 50%;
	background-color: grey;
}

.selected::before {
	 
} 

#icon-container {
	width: 980px; 
   height: 230px;
   overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}


#bananaLeaf, #bikini, #cactus, #camera, #drink, #pineapple, #plane, #shell, #starfish, #sun, #tree {
	width: 200px;
	height: 200px;
	padding: 20px;
}


.bananaLeaf {
	cursor: pointer;
}

.bikini {
	cursor: crosshair;
}

.cactus {

}

.camera {
	
}

.drink {

}

.pineapple {

}

.plane {

}

.shell {

}

.starfish {

}

.sun {

}

.tree {

}

#imagesDIV {
   width: 980px; 
   height: 230px;
   overflow: hidden;
     display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#row {
   width: 980px; 
   height: 230px;
   overflow: hidden;
     display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}


#tessa:hover {
	color: #f54290;
}

/**************/
#some-id {

}
