@charset "UTF-8";

h2 {
	font-family: 'Gilda Display', serif;
	font-size: 60px;
	letter-spacing: 2px;
	color: white;
}


.transparent-background {
	background: transparent;
}

.main-container {
	width: 980px;
	margin: 0 auto;
	background-color: #fff;
}

.hidden {
	display: none;
}

.main-header {
	width: 980px;
	height: 150px;
	background-color: #53a586;
	display: inline-block;
	text-align: center;
}

.main-footer {
	margin-top: 40px;
	width: 980px;
	height: 400px;
	background-color: #53a586;
	display: inline-block;
}

ul {
	padding: 10px;
	font-family: 'Open Sans Condensed', 'Helvetica', sans-serif;
	font-size: 18px;
	color: white;
	list-style: none;
}

body {
	color: #444;
	font-size: 20px;
	padding: 14px;
}

p {
	font-family: 'Open Sans Condensed', 'Helvetica', sans-serif;
	font-size: 18px;
	color: white;
	padding: 10px;
}

main span {
	padding: 10px 14px;
	cursor: pointer;
}

.img-wrapper > * {
	pointer-events: none;

}

.selected {
	background-image: url("../images/border.png") ;
	background-size: 222px 222px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

.selected::before {
	 content: '\02D2';
	 visibility: none;
} 

#icon-container {
	width: 980px; 
   height: 230px;
   overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}


.svg {
	opacity: 45%;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}


#bananaLeaf, #bikini, #cactus, #camera, #drink, #pineapple, #plane, #shell, #starfish, #sun, #tree {
	width: 200px;
	height: 200px;
	padding: 20px;
}

.bananaLeaf {
	cursor: pointer;
}

.bikini {
	cursor: crosshair;
}

.cactus {
	cursor: cell;
}

.camera {
	cursor: pointer;
}

.drink {
	cursor: grab;
}

.pineapple {
 cursor: alias;
}

.plane {
	cursor: none;
}

.shell {
	cursor: help;
}

.starfish {
	cursor: crosshair;
}

.sun {
 cursor: cell;
}

.tree {
	cursor: pointer;
}

#imagesDIV {
   width: 980px; 
   height: 230px;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   margin-bottom: 20px;
}

#row {
   width: 980px; 
   height: 230px;
   overflow: hidden;
   display: flex;
   flex-direction: row;
   margin-bottom: 20px;
   justify-content: center;
}

